target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IntelliJ IDEA ###
Java/AdventOfCodeJava/.idea/modules.xml
Java/AdventOfCodeJava/.idea/jarRepositories.xml
Java/AdventOfCodeJava/.idea/compiler.xml
Java/AdventOfCodeJava/.idea/libraries/
Java/AdventOfCodeJava/.idea/workspace.xml
Java/AdventOfCodeJava/.idea/sonarlint/
Java/AdventOfCodeJava/.idea/sonarlint/issuestore/
Java/AdventOfCodeJava/.idea/*.iws
Java/AdventOfCodeJava/.idea/*.iml
Java/AdventOfCodeJava/.idea/*.ipr
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
