# Default ignored files
/shelf/
/workspace.xml
/misc.xml
/compiler.xml
/jarRepositories.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
!/sonarlint/issuestore/
!/sonarlint/
!/compiler.xml
!/git_toolbox_prj.xml
!/jarRepositories.xml
!/workspace.xml
!/misc.xml
/sonarlint/issuestore/
/sonarlint/
/sonarlint/securityhotspotstore/
